data/congress_bill_summaries_last_10_years.json filter=lfs diff=lfs merge=lfs -text
data/congress_bills_voted_compact_last_10_years.json filter=lfs diff=lfs merge=lfs -text
data/press_releases_by_bioguide.json filter=lfs diff=lfs merge=lfs -text
data/congress_bill_summaries_last_1_years.json filter=lfs diff=lfs merge=lfs -text
data/congress_bills_voted_compact_last_1_year.json filter=lfs diff=lfs merge=lfs -text
